*{
    padding: 0;
    margin: 0;
    
}
body{
    box-sizing: border-box;
    font-family: poppins;

    overflow-x: hidden;
  
   
    
}



/*second step*/
.total{
   position: relative;
   right: 100px;

}
.second_step {
    display: flex;
    align-items: center;
    justify-content:space-around;
    
    gap: 700px;
}

.second_step div:nth-of-type(2){
    display: flex;
 padding:20px;
   
}
.second_step h2{
    font-weight: 500;
    color: black;
}
.second_step button{
    padding:10px 15px;
    border: none;
    border-radius: 10px;
    margin: 0 6px;
    cursor: pointer;
}
.newwadd{
    display: none;
}

.new-add-3{
    
    position: absolute;
    width: 220px;
    height: 380px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transform: translateX(750px);
    top: 115px;
    border-radius: 10px 10px 0 0;
    z-index: 1;
    display: grid;
    left: -730px;
 
    
}

.new-add-3 a{
    font-size: 12px;
    margin: 6px ;
    padding:6px 20px;
    border-radius: 8px;
   
    color: black;
}
.new-add-3 a:hover{
    font-size: 12px;
    background-color: #5DB9D7;
    margin: 6px ;
    padding:6px 20px;
    border-radius: 8px;
   
    color: black;
}
.new-add-14{
    
    position: absolute;
    width: 220px;
    height: 620px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transform: translateX(750px);
    top: 115px;
    border-radius: 10px 10px  ;
    z-index: 1;
    display: grid;
    left: 320px;
   display: none ;/*none----------------------------------------------------------------------------------*/
    
}
.new-add-14 h3{
    font-size: 14px;
    color: rgb(158, 158, 158);
    font-weight: 400;
   text-transform: uppercase;
   padding: 15px 20px;
}
.new-add-14 a{
    font-size: 12px;
    margin: 5px ;
    padding:5px 15px;
    border-radius: 8px;
    color: black;
}
.new-add-14 span{
   border: 1px solid rgb(236, 236, 236);
 height: 0;
}
.new-add-14 a:hover{
    font-size: 12px;
    background-color: #5DB9D7;
    margin: 5px ;
    padding:5px 15px;
    border-radius: 8px;
   
    color: black;
}
/*third step*/
.cus_three{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}
.cus_three div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
  
}
/*fourth step*/
.cus_four{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
    padding-top: 30px;
    
}

.cus_four img{
    
    padding-top: 30px;
}
.cus_four span p{
    line-height: 30px;
    color: rgb(48, 48, 48);
}
.cus_four span i{
    color: skyblue;
    padding-right: 10px;
}