

*{
    padding: 0;
    margin: 0;
    
}
body{
    box-sizing: border-box;
    font-family: Poppins;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  
   
    
}
a{
    text-decoration: none;
}
/* side bar design*/
.sidebar{
    background: black;
    width: 200px;
    min-height: 100vh;
    position: fixed;
    z-index:99;
}
.left h4{
    padding: 20px;
    color: white; 
    background: rgb(48, 47, 47);
    position: relative;
    bottom: 20px;
}

.left{
   padding-top: 20px;
}

.left ul{
    list-style: none;
    cursor: pointer;
}

.left li {
    margin:0 8px;
 padding: 6px 15px;
 width: 150px;
 background: rgb(65, 65, 65);
 border-radius:8px;
}
.left li:hover{
    background:rgb(107, 107, 107);
    border-radius:8px;
    margin:0 8px;
    padding: 6px 15px;
    width: 150px;
}
.left li i{
    padding-right: 10px;
    width: 20px;
}
.left li img{
    padding-right: 10px;
    position: relative;
    top: 6px;
    right: 3px;
    width: 20px;
}
.left li a{
    text-decoration: none;
    font-size:small;
    color: white;
   

}
.left .btn{
    position: fixed;
    bottom: 0;
    width: 200px;
   
}
.btn span a{
    color: white; 
    background: rgb(65, 65, 65);
    padding: 6px 47.3%;
   font-size: 15px;
  

 
}

 .btn span a .rotate {
    transition: all .5s linear;
    
}
 .btn span a .rotate.down {

    transform:rotate(180deg);
 
}
/*end*/






/*main class design*/
.right{
    position: relative;
    left: 200px
}

.main{
 height: 50px;   

}

.main nav{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 600px;
   
}

.lf_nav{
   
    background-color:  rgb(245, 245, 245);
    position: fixed;
    right: 1100px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgb(231, 231, 231);
    outline: none;

}

.lf_nav:hover{
    border: 1px solid skyblue;
    overflow: visible;
    transition: 0.5s; 
    padding-right: 50px;
   
}

.lf_nav a  {
  
   color: gray;
}
.lf_nav a :nth-of-type(1) {
   font-size:xx-small;
    color: rgb(0, 217, 255);
 }
.lf_nav input{
    border: none;
    background-color: rgb(245, 245, 245);
    padding: 5px ;
    outline: none;
    
    
}
.rt_nav{
  
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    

}
/*line 88 style (bar)*/
.cont{
    width: 22px;
    height: 22px;
    background: rgb(32, 184, 32);
    border-radius: 5px;
    z-index: 999;
    bottom: 5px;
    position: relative;
 
    cursor: pointer;
}
.cont .bar1{
    width: 2px;
    height: 12px;
    background: white;
   position: absolute;
   top: 5px;
    transform: translate(10px);
  transition: 0.4s;
  z-index: 999;
 
}
.cont .bar2{
    height: 2px;
    width: 12px;
    background: white;
    position: absolute;
    top: 10px;
    left: 5px;
  transition: 0.4s;
  z-index: 999;
 
}
.rot .bar1{
    transform:translateX(10px)  rotate(45deg);
}
.rot .bar2{
    transform: rotate(45deg);
}
/*dropdown*/
.dropDown-content{
    display: none;  /*none-----------------------------------------------------*/
    width: 500px;
    height: 300px;
    background: #f1f1f1;
    position: relative;
    right: 200px;
    top: 30px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.quick-create-1{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;  
    color: rgb(155, 155, 155);
   padding-top:10px ;
   font-size: 13px;
   padding-right: 110px;
}
.quick-create-1 img{
  
 opacity: 0.5;

}
.quick-create-2{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;  
   padding-top:16px ;

}
.quick-create-2 a{
    color: rgb(124, 124, 124);

}
.sub-quick{
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    flex-direction: column;
    gap: 20px;
    font-size: 12px;
  
}
.sub-quick i{
    font-size: 9px;
    color: rgb(124, 124, 124);
  
}

/* notification icon*/
.notify{
    display:none; /*none-----------------------------------------------------*/
}
.notify_background{
 
    position: fixed;
    top: 50px;
    z-index: 1;
    width: 380px;
    height: 710px;
    background: #f1f1f1;
   
}
.notify_sub{
    height: 110px;
    background:rgb(233, 233, 233);
}
.notify_sub p{
    font-size: 17px;
    color: black;
   
}
.notify_sub a{
    font-size: 15px;
    color: black;
    border-bottom:3px solid blue;
    
}
.notify_sub1{
    display: flex;
    justify-content: space-evenly;
    gap: 210px;
    transform: translateY(30px);
}
.notify_sub2{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    position: relative;
    left: 18px;
    transform: translateY(60px);
    
}
.notify_sub5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    transform: translateY(30px);  
    text-align: center;    
}


/* settings icon*/

.set{
    display: none; /*none-----------------------------------------------------*/
    position: fixed;
    right: 0;
    top: 50px;
    justify-content: flex-end;
    z-index: 1;
}
.set_background{
     
    width: 380px;
    height: 710px;
    background: rgb(243, 243, 243);
   
}
.set_sub{
    height: 110px;
    background:rgb(233, 233, 233);
}
.set_sub p{
    font-size: 17px;
    color: black;
   
}

.set_sub1{
    display: flex;
    justify-content: space-evenly;
    gap: 150px;
    transform: translateY(20px);
    
}

.set_sub2 span:hover{
    border:2px solid skyblue;
    
 }
.set_sub2 span{
    
    background-color: white;
    transform: translateX(20px);
    position: relative;
    bottom: 50px;
    border: 2px solid rgb(202, 202, 202);
    border-radius: 8px ;
    transition: 0.5s;
}
.set_sub2 .fa {
    padding-left: 5px;
}
.set_sub2 input{
    width:300px;
    padding: 8px;
   border: none;
   outline: none;
}

.set_sub3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transform: translateY(30px);  
    text-align: center;    
}
.set_sub3 img{
    padding: 2px 12px;
    width: 14px;
    opacity: 0.5;
}
.set_sub3 a{
    font-size: 13px;
    color: black;
  padding: 8px 15px;
    width: 340px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
   transform: translateY(-50px);
    line-height: 15px;
    
    
}
.set_sub3 a:hover {
   background: skyblue;
    
    
}
/* my account icon*/

.my-account{
    display: none; /*none-----------------------------------------------------*/
    position: fixed;
    right: 0;
    top: 50px;
    justify-content: flex-end;
    z-index: 1;
    width: 380px;
    height: 710px;
    background: rgb(243, 243, 243);
}
.my-account1{
    height: 250px;
    background:rgb(236, 236, 236);
    border-bottom: 1px solid rgb(226, 226, 226);
}

.cross{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 20px;
    right: 10px;
}
.dis-pic{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(177, 177, 177);
   position: relative;
   top: 10px;
   margin: 0 auto;
}
.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}
.user-info span p {
    font-size: 11px;
    color: rgb(99, 99, 99);
    line-height: 20px;
    font-weight: 400;
}
.user-info span h6 {
    font-size: 9px;
    color: rgb(99, 99, 99);
    line-height: 20px;
    font-weight: 400;
}
.my-sign{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.my-sign a{
    font-size: 13px;
    font-weight: 400;
}
.my-account2{
    display: flex;
    justify-content: space-around;
    gap: 80px;
    margin-top: 10px;
    border-bottom:1px solid rgb(226, 226, 226);
    padding-bottom: 10px;
    
}
.my-account2 img{
  transform: translateY(3px);
    
}
.my-account2 a{
    font-size: 14px;
    font-weight: 400;
    color: rgb(70, 151, 184);
}

.my-account3{
    display: flex;
    justify-content: space-around;
    gap: 8%;
    padding: 15px;
   
    border-bottom:1px solid rgb(226, 226, 226);
    background-color: rgb(238, 238, 238);
}
.org span p {
    font-size: 11px;
    color: rgb(99, 99, 99);
    font-weight: 400;
}
.comp img{
    border: 1px solid black;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    padding: 10px;
    margin-top: 10px;
}
.tick{
    padding-top: 15px;
}
/*nav end */
/*customers plus */

.gettingStart{

}
.headStart{
    height: 80px;
    width: 100%;
    border-bottom: 1px solid rgb(217, 217, 228);
}
.insideHead{
    display: flex;
    align-items: center;
    padding: 10px 10px 20px 10px;

   
}
form{
    display: flex;
    margin: 10px;
}
.part{
display: flex;
margin: 10px;
}
.leftPart{
height: 800px;
width: 100%;
background-color: white;
}

.step1{
font-size: small;
}
.main1{
    background-color: white;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    border: 1px solid rgb(201, 201, 201);
}
.step1 fieldset{
    display: none;
    padding: 20px 10px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid #EAEDFA  ;
}
.field1{
    border-bottom: 1px solid rgb(219, 212, 212);
}
.field2{
    margin-top: 5px;
 height: 50px;
}
.field2 span{
    background-color: white;
    padding: 5px 5px;
    width: 250px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(212, 212, 212);
   border-radius: 6px;
}
.field2Sub1{
    display: none;
    background-color: white;
    height: 220px;
    width: 255px;
    border-radius: 6px;
    margin-top: 3px;
    box-shadow: 3px 3px  3px gray;
    border: 1px solid #EAEDFA;
    padding: 3px;
}
.field2Sub input{
    width: 255PX;
    height: 30PX;
    border-radius: 6PX;
    padding: 2px;
    border: 1px solid rgb(255, 255, 255);
    outline: 1px solid #408DFB;
}
.field2 span{
    border: 1px solid skyblue;
    border-radius: 6px;
}
.in{
margin: 2px;
width: 250px;
height: 30PX;
padding: 2px;
border-radius: 6px;
color: gray;
display: flex;
justify-content: space-between;
align-items: center;
}
.in img{
display: none;
}
.sub1:hover{
background-color: #408DFB;
color: white;
}
.sub2:hover{
background-color: #408DFB;
color: white;
}
.sub3:hover{
 background-color: #408DFB;
color: white;
}
 .sub4:hover{
 background-color: #408DFB;
color: white;
}
.sub5:hover{
 background-color: #408DFB;
 color: white;
 }
 .field3{
    margin-top: 35px;
    height: 50px;
 }
.upIput{
    background-color: white;
    padding: 10px 5px;
    width: 250px;
    margin-top: 5px;
    display: flex;
    justify-content:center;
    align-items: center;
    border: 1px solid rgb(212, 212, 212);
   border-radius: 6px;
    color: #408DFB;
    
    background-color: white;
}
.field4{
margin-top: 35px;
    
}
.color{
   
    height: 30px;
    width: 70%;
    padding: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.backgroundColor input{
    height: 25px;
    width: 25px;
    
}
.lableColor input{
    height: 25px;
    width: 25px;
    
}
.fontColor{
    margin-left: 10px ;
}
.fontColor input{
    height: 25px;
    width: 25px;
    
}
.bottom1{
    background-color:#F2F7FE;
    width: 90%;
    margin-top: 30px;
    padding: 10px;
    border-radius: 6px;
}
.save{
  
    margin-top: 30px;
    width: 90%;
    padding: 25px 15px;
    border-top: 1px solid #EAEDFA;
}
.save button{
    padding: 10px;
    border-radius: 6px;
    color: white;
    background-color: #408DFB;
    border: none;
}

.step2{
    font-size: small;
}
.main2{
    background-color: white;
    padding: 15px 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    border: 1px solid rgb(201, 201, 201);
}
.step2 fieldset{
    display: none;
    padding: 20px 10px;
    border-radius: 6px;
    border: 1px solid #EAEDFA  ;
}
.empower{
    border-bottom: 1px solid #EAEDFA;
    padding-bottom:20px;
}
.Porta{
    margin-top: 20px;
}
.Porta input{
    margin-top: 3px;
    padding: 8px 30px 8px 8px;
    border-radius: 6px; 
    border: 1px solid #EAEDFA  ;
    outline: none;
    
}
.port input:hover{
    border: 1px solid skyblue;
    border-radius: 6px;
}
.bottom2{
    background-color:#F2F7FE;
    width: 90%;
    margin-top: 30px;
    padding: 10px;
    border-radius: 6px;
}
.save1{
    margin-top: 30px;
    width: 90%;
    display: flex;
    padding: 25px 15px;
    border-top: 1px solid #EAEDFA;
}
.save1 button{
    padding: 10px;
    border-radius: 6px;
    color: white;
    background-color: #408DFB;
    border: none;
}
.step3{
    font-size: small;
}
.main3{
    background-color: white;
    padding: 15px 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    border: 1px solid rgb(201, 201, 201);
}
.step3 fieldset{
    
    padding: 20px 10px;
    border-radius: 6px;
    border: 1px solid #EAEDFA  ;
}
.zohoIn{
    border-bottom: 1px solid #EAEDFA;
    padding-bottom:20px;
}
.selectModuls{
    margin-top: 20px;
}
.topModuls{
margin-top: 10px;
display: flex;
}
.topModuls span{
    padding: 7px 3px;
    margin-right: 6px;
    width: 100px;
    display: flex;
    justify-content: space-evenly;
   align-items: center;
   border: 1px solid #EAEDFA  ;
   border-radius: 6px;
    background-color: #F9F9FB;
}
.dchallan{
    padding: 7px 3px;
    margin-right: 6px;
    width: 150px;
    display: flex;
    justify-content: space-evenly;
   align-items: center;
   border: 1px solid #EAEDFA  ;
   border-radius: 6px;
    background-color: #F9F9FB;
}
.middleModuls{
    margin-top: 10px;
    display: flex;
    }
.middleModuls span{
    padding: 7px 3px;
    margin-right: 6px;
    width: 150px;
    display: flex;
    justify-content: space-evenly;
   align-items: center;
   border: 1px solid #EAEDFA  ;
   border-radius: 6px;
    background-color: #F9F9FB;
}
.bottomModuls{
    margin-top: 10px;
    display: flex;
    }
.bottomModuls span{
    padding: 7px 3px;
    margin-right: 6px;
    width: 130px;
    display: flex;
    justify-content: space-evenly;
   align-items: center;
   border: 1px solid #EAEDFA  ;
   border-radius: 6px;
    background-color: #F9F9FB;
}
.save2{
    margin-top: 30px;
    width: 90%;
    display: flex;
    padding: 25px 15px;
    border-top: 1px solid #EAEDFA;
}
.save2 button{
    padding: 10px;
    border-radius: 6px;
    color: white;
    background-color: #408DFB;
    border: none;
}
.rightPart{
  
    height: 800px;
    width: 45%;
    background-color: #F3F8FE;
    margin-left: 10px;
    border-radius: 16px;
}
.innerRight{
    background-color: white;
    width: 80%;
    height: 90%;
    margin: 40px 40px 40px 70px;
    border-radius: 10px;
}
.tamplete{
    padding: 30px 0 0 30px;
}
.topfeild{
    display: flex;
    align-items: center;
   justify-content: space-between;
}
.logoLeft{
    margin-top: 15px;
    padding: 30px 0 0 30px;
    display: flex;
    align-items: center;
}

.logoright{
    margin-top: 50px;
   margin-right: 15px;
    
}
.middleFeild{
    margin-top: 35px;
    border-top: 1px solid #EAEDFA ;
padding: 30px 0 0 30px;
display: flex;
justify-content: space-between;
margin-right: 10px;
}
.middleLeft{
    font-size: 12px;
}
.line1{
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.line2{
     width: 160px;
    display: flex;
    justify-content: space-between;
}
.blank1{
    display: flex;
}
.blank2{
    display: flex;
    margin-top: 10px;
}
















.customersPlus input:hover{
    border: 1px solid skyblue;
    border-radius: 3px;
}
.customersPlus select:hover{
    border: 1px solid skyblue;
    border-radius: 3px;
}
.customersPlus textarea:hover{
    border: 1px solid skyblue;
    border-radius: 3px;
}

.customersPlus input:focus{
    border: 1px solid white;
    outline: 1px solid skyblue;
}








































































































/*second step*/
