*{
    padding: 0;
    margin: 0;
    
}
body{
    box-sizing: border-box;
    font-family: Poppins;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  
   
    
}



/*main class design*/
.right{
    position: relative;
    left: 200px
}

.main{
 height: 50px;   

}

.main nav{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 600px;
   
}

.lf_nav{
   
    background-color:  rgb(245, 245, 245);
    position: fixed;
    right: 1100px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgb(231, 231, 231);
    outline: none;

}

.lf_nav:hover{
    border: 1px solid skyblue;
    overflow: visible;
    transition: 0.5s; 
    padding-right: 50px;
   
}

.lf_nav a  {
  
   color: gray;
}
.lf_nav a :nth-of-type(1) {
   font-size:xx-small;
    color: rgb(0, 217, 255);
 }
.lf_nav input{
    border: none;
    background-color: rgb(245, 245, 245);
    padding: 5px ;
    outline: none;
    
    
}
.rt_nav{
  
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    

}
/*line 88 style (bar)*/
.cont{
    width: 22px;
    height: 22px;
    background: rgb(32, 184, 32);
    border-radius: 5px;
    z-index: 999;
    bottom: 5px;
    position: relative;
 
    cursor: pointer;
}
.cont .bar1{
    width: 2px;
    height: 12px;
    background: white;
   position: absolute;
   top: 5px;
    transform: translate(10px);
  transition: 0.4s;
  z-index: 999;
 
}
.cont .bar2{
    height: 2px;
    width: 12px;
    background: white;
    position: absolute;
    top: 10px;
    left: 5px;
  transition: 0.4s;
  z-index: 999;
 
}
.rot .bar1{
    transform:translateX(10px)  rotate(45deg);
}
.rot .bar2{
    transform: rotate(45deg);
}
/*dropdown*/
.dropDown-content{
    display: none;  /*none-----------------------------------------------------*/
    width: 500px;
    height: 300px;
    background: #f1f1f1;
    position: relative;
    right: 200px;
    top: 30px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.quick-create-1{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;  
    color: rgb(155, 155, 155);
   padding-top:10px ;
   font-size: 13px;
   padding-right: 110px;
}
.quick-create-1 img{
  
 opacity: 0.5;

}
.quick-create-2{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;  
   padding-top:16px ;

}
.quick-create-2 a{
    color: rgb(124, 124, 124);

}
.sub-quick{
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    flex-direction: column;
    gap: 20px;
    font-size: 12px;
  
}
.sub-quick i{
    font-size: 9px;
    color: rgb(124, 124, 124);
  
}

/* notification icon*/
.notify{
    display:none; /*none-----------------------------------------------------*/
}
.notify_background{
 
    position: fixed;
    top: 50px;
    z-index: 1;
    width: 380px;
    height: 710px;
    background: #f1f1f1;
   
}
.notify_sub{
    height: 110px;
    background:rgb(233, 233, 233);
}
.notify_sub p{
    font-size: 17px;
    color: black;
   
}
.notify_sub a{
    font-size: 15px;
    color: black;
    border-bottom:3px solid blue;
    
}
.notify_sub1{
    display: flex;
    justify-content: space-evenly;
    gap: 210px;
    transform: translateY(30px);
}
.notify_sub2{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    position: relative;
    left: 18px;
    transform: translateY(60px);
    
}
.notify_sub5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    transform: translateY(30px);  
    text-align: center;    
}


/* settings icon*/

.set{
    display: none; /*none-----------------------------------------------------*/
    position: fixed;
    right: 0;
    top: 50px;
    justify-content: flex-end;
    z-index: 1;
}
.set_background{
     
    width: 380px;
    height: 710px;
    background: rgb(243, 243, 243);
   
}
.set_sub{
    height: 110px;
    background:rgb(233, 233, 233);
}
.set_sub p{
    font-size: 17px;
    color: black;
   
}

.set_sub1{
    display: flex;
    justify-content: space-evenly;
    gap: 150px;
    transform: translateY(20px);
    
}

.set_sub2 span:hover{
    border:2px solid skyblue;
    
 }
.set_sub2 span{
    
    background-color: white;
    transform: translateX(20px);
    position: relative;
    bottom: 50px;
    border: 2px solid rgb(202, 202, 202);
    border-radius: 8px ;
    transition: 0.5s;
}
.set_sub2 .fa {
    padding-left: 5px;
}
.set_sub2 input{
    width:300px;
    padding: 8px;
   border: none;
   outline: none;
}

.set_sub3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transform: translateY(30px);  
    text-align: center;    
}
.set_sub3 img{
    padding: 2px 12px;
    width: 14px;
    opacity: 0.5;
}
.set_sub3 a{
    font-size: 13px;
    color: black;
  padding: 8px 15px;
    width: 340px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
   transform: translateY(-50px);
    line-height: 15px;
    
    
}
.set_sub3 a:hover {
   background: skyblue;
    
    
}
/* my account icon*/

.my-account{
    display: none; /*none-----------------------------------------------------*/
    position: fixed;
    right: 0;
    top: 50px;
    justify-content: flex-end;
    z-index: 1;
    width: 380px;
    height: 710px;
    background: rgb(243, 243, 243);
}
.my-account1{
    height: 250px;
    background:rgb(236, 236, 236);
    border-bottom: 1px solid rgb(226, 226, 226);
}

.cross{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 20px;
    right: 10px;
}
.dis-pic{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(177, 177, 177);
   position: relative;
   top: 10px;
   margin: 0 auto;
}
.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}
.user-info span p {
    font-size: 11px;
    color: rgb(99, 99, 99);
    line-height: 20px;
    font-weight: 400;
}
.user-info span h6 {
    font-size: 9px;
    color: rgb(99, 99, 99);
    line-height: 20px;
    font-weight: 400;
}
.my-sign{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.my-sign a{
    font-size: 13px;
    font-weight: 400;
}
.my-account2{
    display: flex;
    justify-content: space-around;
    gap: 80px;
    margin-top: 10px;
    border-bottom:1px solid rgb(226, 226, 226);
    padding-bottom: 10px;
    
}
.my-account2 img{
  transform: translateY(3px);
    
}
.my-account2 a{
    font-size: 14px;
    font-weight: 400;
    color: rgb(70, 151, 184);
}

.my-account3{
    display: flex;
    justify-content: space-around;
    gap: 8%;
    padding: 15px;
   
    border-bottom:1px solid rgb(226, 226, 226);
    background-color: rgb(238, 238, 238);
}
.org span p {
    font-size: 11px;
    color: rgb(99, 99, 99);
    font-weight: 400;
}
.comp img{
    border: 1px solid black;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    padding: 10px;
    margin-top: 10px;
}
.tick{
    padding-top: 15px;
}
/*nav end */

/*quoteadd*/

.quoteadd{
    font-weight: 600;
    font-size: 13px;
    color: gray;
    opacity: 90%;
}
.head{
    display: flex;
   margin-top: 20px;
   padding-left: 10px;
   font-weight: 400;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(164, 164, 170, 0.555);
}
.btnClose{
    width: 25px;
    height: 25px;
    background-color: white;
    border: none;
    opacity: 70%;
    position: absolute;
    right: 250px;
}
.CustomerName{
width: 100%;
height: 100px;
background-color: whitesmoke;


}
.userName{
    display: flex;
   padding-top: 35px;
   padding-left: 20px;
}
.userName select{
    margin-left: 90px;
    width: 280px;
    height: 35px;
    border: 1px solid #c7c7c7;
    outline: none;
    border-radius: 8px 0 0 8px;
    padding: 0 2px;
    border-right: none;
}
.innerQuote{
  width: 70%;
    height: 210px;
    border-bottom: 1px solid whitesmoke;
}
.quote{
    display: flex;
    margin-top: 25px;
    padding-left: 20px;
}
.quote input{
    margin-left: 150px;
    width: 280px;
    height: 35px;
    border: 1px solid #c7c7c7;
    outline: none;
    border-radius: 8px 0 0 8px;
    padding: 0 2px;
    border-right: none;
}
.quote .quoteSettingsIcon{
    border-radius: 0 8px 8px 0;
    border: 1px solid #c7c7c7;
    width: 20px;
    height: 35px;
    border-left: none;
    color: gray;
}
.quoteSettingsIcon img{
   padding-top: 7px;
   padding-right: 11px;
  
}
.Reference{
    display: flex;
    margin-top: 25px;
    padding-left: 20px;
}
.Reference input{
    margin-left: 121px;
    width: 310px;
    height: 35px;
    border: 1px solid #c7c7c7;
    outline: none;
    border-radius: 8px 8px;
    padding: 0 2px;
}
.quoteDate{
    display: flex;
    margin-top: 25px;
    padding-left: 20px;
    
}
.quoteDate input{
    margin-left: 128px;
    width: 280px;
    height: 35px;
    border: 1px solid #c7c7c7;
    outline: none;
    border-radius: 8px 8px;
    padding: 0 2px;
}
.quoteDate .date2{
    margin-left: 15px;
}

.Salesperson{
    width: 70%;
    height: 160px;
    border-bottom: 1px solid whitesmoke;
}
.Salesperson1{
    display: flex;
    margin-top: 25px;
    padding-left: 20px;
   
    
}
.Salesperson1 select{
    margin-left: 121px;
    width: 280px;
    height: 35px;
    border: 1px solid #c7c7c7;
    outline: none;
    border-radius: 8px 8px;
    padding: 0 2px;
    cursor: not-allowed;
}
.Salesperson2{
    display: flex;
    margin-top: 25px;
    padding-left: 20px;
   
    
}
.Salesperson2 select{
    margin-left: 114px;
    width: 280px;
    height: 35px;
    border: 1px solid #c7c7c7;
    outline: none;
    border-radius: 8px 8px;
    padding: 0 2px;
    background-color: rgb(172, 167, 167);
    cursor: not-allowed;
}
.Subject{
    width: 70%;
    height: 80px;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    margin-top: 25px;
    padding-left: 20px;
    
}
.Subject textarea{
margin-left: 150px;
height: 30px;
width: 273px;
max-height: 80px;
max-width:29opx ;
outline: none;
}



.iteamDetailsSub{
    height: 149px;
    width: 80%;
   
    background-color: white;
    
}
.iteamDetailsSub2{
    margin-top: 10px;
    width: 1020px;
   
    height: 100px;
    display: flex;
    margin-bottom: 20px;
}

.iteamDetailsSub input{
    display:inline-flex;
    width: 150px;
    height: 53px;
    font-size: 13px;
    margin: 0;
    border: 1px solid#EBEAF2;
    cursor: text;
    
}
.details input{
    border-top: none;
}

.details h4{
    display:inline-flex;
    background-color:white;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    width: 445px;
    height:27px ;
    margin-top: 10px;
    margin-left: 15px;
    border: 1px solid #EBEAF2;
    border-bottom: none;
}
.quantity h4{
    background-color:white ;
    padding-top: 5px;
    padding-right: 5px;
     width: 145px;
     height:32px ;
     text-align: right;
   border-right: none;
   border-left: none;
   border-bottom: none;
    position: absolute;
    left: 466px;
    margin-top: 10px;
    border: 1px solid #EBEAF2;
}
.quantity .inputQuantity{
 
    height: 51.5px;
    border: 1px solid#EBEAF2;
    border-top: none;
    border-right: none;
    position: absolute;
    left: 465px;
    top: 808px;
  
}
.inputQuantity input{
    text-align: right;
     font-size:medium; 
     outline: none;
     height: 25px; 
     width: 150px;
     border: 1px solid#EBEAF2;
     border-bottom: none;
}
.rate h4{
 
    background-color:white;
   padding-top: 5px;
   padding-right: 5px;
   width: 147px;
    height:32px ;
    text-align: right;
    position: absolute;
    left: 618px;
    margin-top: 10px;
    border-left: none;
    border-right: none;
    border: 1px solid  #EBEAF2;
}
.inputRate{
    height: 51.5px;
    border: 1px solid  #EBEAF2;
    position: absolute;
    left: 618px;
    top: 808px;
    border-top: none;
    
}
.inputRate input{
    text-align: right;
     font-size: medium; 
     outline: none;
     height: 25px;
     width: 149px;
      border: 1px solid #EBEAF2;
      border-bottom: none;
}
.discount h4{
 
    background-color:white ;
   padding-top: 5px;
   padding-right: 5px;
    width: 146px;
    height:32px ;
    text-align: right;
    position: absolute;
    left: 770px;
    margin-top: 10px;
  border-top: 1px solid #EBEAF2;
    border-right: none;
    border: 1px  #EBEAF2 ;
}
.inputDiscount {
    display: inline-flex;
    width: 150px;
        height: 51px;
        border: 1px solid  #EBEAF2
        ;
        position: absolute;
        left: 772px;
        top: 808px;
        border-left: none;
    
}
.inputDiscount input{
    text-align: right;
     font-size: medium;
     outline: none;
      height: 25px; 
      width: 116px;
      border: none;
      border-bottom: none;
}
.amount{
    background-color:white ;
    padding-top: 5px;
    padding-right: 5px;
     width: 146px;
     height:32px ;
     text-align: right;
     position: absolute;
     left: 923px;
     margin-top: 10px;
     border-left: none;
   
     border: 1px solid  #EBEAF2;
     margin-bottom: 0;
     display: inline;
}

 .amt{
    border: 1px solid #EBEAF2;
    border-left: none;
    border-top: none;
    border-right: none;
    height: 52.5px;
    width: 146px;
    position: absolute;
    top: 36px;
    font-size: 16px;
    color: black;
    padding-right: 5px;
 }
.clone{
position: absolute;
background-color: white;
left: 1080px;
top: 810px;
border: none;
}
.closeBtn{
 position: absolute;
background-color: white;
left: 1100px;
top: 810px;
border: none;
}
.addAnother{
    background-color: antiquewhite;
}
.add1{
    background-color: whitesmoke;
    display: inline-flex;
    border: none;
   
}
.add1 select{
    background-color: whitesmoke;
    height: 10px;
    display: flex;
    height: 28px;
    align-self: center;
    border: none;
    outline: none;
}
.customerNotes1{
    display: flex;
 
    background-color:white;
    height: 220px;
    width: 100%;
   
   
}
.leftNote{
    padding: 10px;
   margin-top: 100px;
    background-color: white;
    height: 100px;
    width: 530px;
}

.rightTotal{
    background-color: #FBFAFA;
    height: 200px;
    width: 500px;
    margin-left: 15px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}
.SubTotal{
    display: flex;
   justify-content: space-between;
}

.Adjustment{
    display: flex;
    justify-content: space-between;
    margin-left:15px ;
    margin-top: 15px;
}
.subInpu1{
    width: 100px; 
    padding: 7px 3px; 
    border: 1px dashed gray;
    border-radius: 4px; 
    outline: none;


}
.subInpu2{
    margin-left: 45px;
     width: 100px;
     padding: 7px 4px;
     border: 1px solid gray;
      border-radius: 4px;
      outline: none;
}
.TcsBox{
    display: flex;
    justify-content: space-between;
}

.tcs{
    display: flex;
    justify-content: space-between;
    width: 270px;
    margin-left:15px ;
    margin-top: 20px;
    
}
.tcs select{
    padding: 7px 4px;
     width: 110px ;
     border: 1px solid gray;
     border-radius: 4px;
}
.total{
    display: flex;
    justify-content: space-between;
    margin-left:15px ;
    margin-top: 20px;
}
.checkAllow{
display: flex;
margin:0 3px 5px 8px ;
margin-bottom: 30px;
}
.checkAllow p{
    padding-left: 10px;
    align-self: center;
}

.termsConditions{
background-color: #FBFAFA;
width: 68%;
height: 130px;
display: flex;
padding: 10px 10px 20px 10px;


}
.conditionLeft{
background-color:#FBFAFA;
width: 750px;
height: 140px;
border-right: 2px solid rgba(156, 156, 156, 0.288);
}
.conditionLeft textarea{
    margin-right: 5px; 
    width: 710px; 
    height: 100px;
    outline: none;
     border: 1px solid gray;
     border-radius:0 4px 4px 0 ;
     max-width: 740px;
      max-height: 105px;
}
.conditionRight{
background-color:#FBFAFA;
width: 500px;
height: 140px;
padding-left: 10px;
}
.uploadInput{
    display: flex;
    align-self: center;
    align-items: center;
    padding: 0;
    background-color: #FBFAFA;
    height: 30px;
    width: 120px;
}
.additional{
    padding: 50px 0 80px 14px;
}
.quoteadd input:hover{
    border: 1px solid skyblue;
    border-radius: 3px;
}
.quoteadd select:hover{
    border: 1px solid skyblue;
    border-radius: 3px;
}
.quoteadd textarea:hover{
    border: 1px solid skyblue;
    border-radius: 3px;
}

.quoteadd input:focus{
    border: 1px solid white;
    outline: 1px solid skyblue;
}



















